#services{
    margin-top: 120px;
}
#icon{
   
    height: 70px;
    width: 70px;
    display: block;
  
    margin: auto;
}
#serv-body{
    text-align: center;
}
#serv-mt{
    margin-top: 100px;
    transition: 0.4s linear;
}
#serv-body a{
    text-decoration: none;
    color: rgb(26, 25, 25);
}
#serv-mt:hover{
    background-color: crimson;
    color: aliceblue;
    border-radius: 20px;
}
#serv-body a:hover{
    color: rgb(54, 9, 218);
}
#counter{
    background-image:linear-gradient(36deg, rgba(6,120,121,1) 0%, rgba(17,12,93,1) 87%);
    height: 300px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}
#counter h1,h2{
    text-align: center;
}
@media(max-width:768px){
    #counter{
    background-image:linear-gradient(36deg, rgba(6,120,121,1) 0%, rgba(17,12,93,1) 87%);
    height: auto;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}
}